rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /participants/{document} {
      allow create: if true;
      allow list: if request.auth.token.role == "admin" || request.auth.token.entity == resource.data.entity;
      allow read: if request.auth.token.role == "admin" || request.auth.token.entity == resource.data.entity;
      allow update: if request.auth.token.role == "admin" || request.auth.token.entity == resource.data.entity;
    }

    match /companies/{document} {
      allow create: if true;
      allow list: if request.auth.token.role == "admin" || request.auth.token.entity == resource.data.entity;
      allow read: if request.auth.token.role == "admin" || request.auth.token.entity == resource.data.entity;
      allow update: if request.auth.token.role == "admin" || request.auth.token.entity == resource.data.entity;
    }
  }
}
