<div fxLayout="column" fxLayoutAlign="stretch stretch" [ngClass.gt-sm]="'pad_table'" fxLayoutGap="20px;">

  <div *ngIf="participants.length == 0" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>

  <div fxLayout fxLayoutAlign="space-between center" *ngIf="participants.length != 0" fxLayoutGap="20px" class="control">

    <button mat-button (click)="exporter.exportTable('csv', {fileName: 'participants'})">Export</button>

    <div fxFlex="100"></div>

    <mat-form-field>
      <mat-label>Columns</mat-label>
      <mat-select multiple [(ngModel)]="selectedColumns">
        <mat-option *ngFor="let column of columns" [value]="column">{{column}}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <input matInput type="text" (keyup)="doFilter()" placeholder="Filter" [(ngModel)]="filter">
    </mat-form-field>
  </div>


  <table mat-table matSort [dataSource]="dataSource" [hidden]="participants.length == 0"
         matTableExporter #exporter="matTableExporter"
         class="mat-elevation-z1">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)">
        {{participant.first_name}} {{participant.last_name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="email" [fxHide.lt-sm]="true">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{participant.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone" [fxHide.lt-sm]="true">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{participant.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="entity" [fxHide.lt-sm]="true">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{participant.entity}} </td>
    </ng-container>

    <ng-container matColumnDef="from" [fxHide.lt-sm]="true">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{participant.from}} </td>
    </ng-container>

    <ng-container matColumnDef="institute" [fxHide.lt-sm]="true">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Institute/Country </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)">
        {{ participant.from == 'local' ? participant.university: participant.country}}
      </td>
    </ng-container>

    <ng-container matColumnDef="year" [fxHide.lt-sm]="true">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year of Study </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participant.year }} </td>
    </ng-container>

    <ng-container matColumnDef="interest">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fields of Interest </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participant.interest }} </td>
    </ng-container>

    <ng-container matColumnDef="cv" [fxHide.lt-sm]="true">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let participant">
        <a *ngIf="participant.cv" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/h4tf-portal2.appspot.com/o/{{ participant.cv_filename }}?alt=media">
          <mat-icon class="cv_icon" aria-hidden="false" aria-label="Example home icon">file_present</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="signed-up">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Signed Up </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant.createdTimeStamp) }} </td>
    </ng-container>

    <ng-container matColumnDef="contacted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contacted </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant.contactedTimestamp) }} </td>
    </ng-container>

    <ng-container matColumnDef="rejected">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rejected </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant.rejectedTimestamp) }} </td>
    </ng-container>

    <ng-container matColumnDef="applied">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Applied </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant.appliedTimestamp) }} </td>
    </ng-container>

    <ng-container matColumnDef="accepted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Accepted </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant.acceptedTimestamp) }} </td>
    </ng-container>

    <ng-container matColumnDef="approved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Approved </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant.approvedTimestamp) }} </td>
    </ng-container>

    <ng-container matColumnDef="realized">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Realized </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant.realizedTimestamp) }} </td>
    </ng-container>

    <ng-container matColumnDef="finished">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Finished </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant.finishedTimestamp) }} </td>
    </ng-container>

    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Completed </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant.completedTimestamp) }} </td>
    </ng-container>

    <ng-container matColumnDef="ELD convert">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ELD Convert </th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)"> {{ participantsService.getTimestamp(participant['ELD convertTimestamp']) }} </td>
    </ng-container>


    <ng-container matColumnDef="stage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"></th>
      <td mat-cell *matCellDef="let participant" (click)="openProfile(participant.email)">
        <span style="width:100%;" class="stage"
              [ngClass]="{
                'contacted': participant.status === 'contacted',
                'rejected': participant.status === 'rejected',
                'applied': participant.status === 'applied',
                'accepted': participant.status === 'accepted',
                'approved': participant.status === 'approved',
                'realized': participant.status === 'realized',
                'finished': participant.status === 'finished',
                'completed': participant.status === 'completed',
                'eld': participant.status === 'ELD convert'
              }">
          {{ participant.status }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns:selectedColumns"></tr>

  </table>

</div>
