<div id="header" fxLayout="row" fxLayoutAlign="space-between center">
  <img src="assets/images/H4TF%20Horizontal%20White.png" width="150px;">
  <div class="topnav">
    <a href="/participants" [routerLink]="['/participants']" routerLinkActive="active">Participants</a>
    <a href="/companies" [routerLink]="['/companies']" routerLinkActive="active">Companies</a>
    <a href="/" [routerLink]="['/opportunities']" routerLinkActive="active">Opportunities</a>
  </div>
  <span>Powered by AIESEC Sri Lanka</span>
</div>

<div id="content" fxLayout="column" fxLayoutAlign="stretch stretch">
  <router-outlet></router-outlet>
</div>
