body {
  margin:0px;
  font-family: 'Lato', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  border-radius:5px;
}

mat-card-title {
  font-weight:bold;
  line-height:40px;
  color:#019875;
}
